/** @format */

.Leftsidebar-main {
	width: 98px;
	border-right: 1px solid rgb(218, 218, 218);
	background-color: rgb(228, 225, 225);
}
.Leftsidebar-icon-top-box {
	margin-top: 18px;
	margin-left: 11px;
}

.Leftsidebar-icon-top-circle-top {
	width: 50px;
	height: 50px;
}
.Leftsidebar-icon-top-circle-top .internal-img {
	margin-top: -110px;
	margin-left: 24px;
}
.Leftsidebar-icon-top-box svg {
	margin-top: -5.2px;
	background-color: cornsilk;
	border-radius: 8px;
}
.Leftsidebar-icon-bottom-box {
	left: 18px;
	position: absolute;
	bottom: -700px;
	margin-bottom: 45px;
}

.Leftsidebar-icon-bottom-box svg {
	margin-bottom: -3px;
	vertical-align: middle;
}
.Leftsidebar-icon-top-circle-top svg {
	border: 1px solid black;
	width: 27px;
	height: 27px;
	padding: 5px;
	background-color: #ffffff;
	border-radius: 15px;
	margin-right: 15px;
}
.Leftsidebar-icon-bottom-box {
	height: 100%;
	margin-left: -0px;
}
.Leftsidebar-icon-bottom-box .Leftsidebar-icon-top-circle {
	margin-bottom: 15px;
}

.Leftsidebar-icon-top-circle {
	border: 1px solid black;
	width: 27px;
	height: 27px;
	padding: 0px;
	background-color: #ffffff;
	border-radius: 15px;
}
.Leftsidebar-icon-top-circle img {
	width: 100%;
	border-radius: 15px;
}
